.form {
  background-color: var(--gris);
  width: min(60rem, 100%);
  /* margin: 0 auto; */
  padding: 2rem;
  border-radius: 1rem;
  border: dashed 1px blue;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: row;
}

.form fieldset {
  padding: 2rem;
  border-radius: 1rem;
  /* utuliza el valor mas pequeño*/
}
.form legend {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--primario);
  text-align: center;
}
.contenedor-campos {
}

.field {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.field label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.input-text {
  width: 70%;
  /* border: none; */
  /* padding: 1.5rem; */
  border-radius: 0.5rem;
}
