<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="preload" href="css/style.css" as="style" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="app">
      <form @submit="fillForm" class="form">
        <fieldset>
          <div class="fields">
            <div class="field">
              <label>Nombre:</label>
              <input class="input-text" v-model="nombre" type="text" />
            </div>
            <div class="field">
              <label>Descripcion: </label>
              <input class="input-text" v-model="descripcion" type="text" />
            </div>
            <div class="field">
              <label>Precio: </label>
              <input class="input-text" v-model="precio" type="text" />
            </div>
            <input type="submit" name="" value="Agregar" id="" />
          </div>
        </fieldset>
      </form>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody v-for="(producto,index) in productos">
          <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <!-- index -->
            <td><button @click.prevent="updateItem(index)">E</button></td>
            <td><button @click.prevent="deleteItem(index)">D</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          nombre: "",
          descripcion: "",
          precio: "",
          index: "",
          productos: [],
        },
        methods: {
          fillForm(e) {
            if (
              this.nombre == "" ||
              this.descripcion == "" ||
              this.precio == ""
            ) {
              console.log("Campos Obligatorios");
            } else {
              this.productos.push({
                nombre: this.nombre,
                descripcion: this.descripcion,
                precio: this.precio,
                index: this.index,
              });
              this.nombre = "";
              this.descripcion = "";
              this.precio = "";
            }

            e.preventDefault();
          },
          deleteItem(index) {
            this.productos.splice(index, 1);
          },

          updateItem(index) {
            this.nombre = this.productos[index].nombre;
            this.descripcion = this.productos[index].descripcion;
            this.precio = this.productos[index].precio;
            this.productos.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
